<div class="row">
  <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 col-md-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">ส่งขั้นตอนการยืนยันใหม่อีกครั้ง</h1>
      </div>
      <div class="panel-body">

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, "อีเมล์", class: "col-md-4" %>
          <div class="col-md-6">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "ส่งขั้นตอนการยืนยันใหม่อีกครั้ง", class: "btn btn-primary" %>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
