      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><%= link_to "หน้าแรก", root_path %></li>
            <li class="active">ข่าวสารล่าสุด</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="page-header">
            <h1>
              ข่าวสารล่าสุด
              <% if user_signed_in? && current_user.role_id == 3 %>
                <%= link_to new_article_path, class: "btn btn-primary pull-right" do %>
                  <span class="glyphicon glyphicon-edit"></span> เพิ่มข่าว
                <% end %>
              <% end %>
            </h1>
          </div>

          <div>
            <ul class="list-card">
              <% @articles.each do |article| %>
              <li class="card">
                <div class="card-content">
                  <h3 class="card-header">
                    <%= link_to article.title, article %>
                  </h3>
                  <p class="card-sub-header"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                  <div class="card-body">
                    <%= truncate(article.content, length: 150) %>
                  </div>
                </div>
              </li>
              <% end %>
            </ul>
            <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>

          </div>
        </div>
        <div class="col-md-4 col-md-right">
          <div class="short-information" style="background: #40A1E4; color: #fff">
            <p>ข่าวสารและบทความด้านต่างๆ ที่เกี่ยวข้องกับผู้พิการ</p>
          </div>
        </div>
      </div>