      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><%= link_to "หน้าแรก", root_path %></li>
            <li class="active">ค้นหางาน</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="page-header">
            <h1>
              งานที่เปิดรับสมัคร
              <% if user_signed_in? && current_user.role_id == 1 %>
                <%= link_to new_job_path, class: "btn btn-primary pull-right" do %>
                  <span class="glyphicon glyphicon-edit"></span> เพิ่มประกาศงาน
                <% end %>
              <% end %>
            </h1>
          </div>

          

          <div class="panel panel-primary panel-primary-fill">
            <div class="panel-heading">
              <h1 class="panel-title">ค้นหาประกาศงาน</h1>
            </div>
            <div class="panel-body">
              <%= form_tag jobs_path, method: "get" do %>
                <div class="col-md-5">
                  <div class="form-group">
                    <%= select_tag :jobtype, ("<option value=\"\">เลือกประเภทงาน</option>" + options_from_collection_for_select(Jobtype.all, :id, :name, @search_jobtype)).html_safe, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <%= select_tag :province, ("<option value=\"\">เลือกจังหวัด</option>" + options_from_collection_for_select(Province.all, :id, :name, @search_provice)).html_safe, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-2">
                   <%= submit_tag "ค้นหา", name: nil, class: "btn btn-primary" %>
                </div>
                <div class="clearfix"></div>
              <% end %>
            </div>
          </div>

          <div>
            <ul class="list-card">
              <% @jobs.each do |job| %>
              <li class="card">
                <div class="card-content">
                  <h3 class="card-header">
                    <%= link_to job.position, job %>
                  </h3>
                  <!-- <p class="card-sub-header">10 พฤศจิกายน 2557</p> -->
                  <div class="card-body">
                    <b>หน่วยงาน: </b><%= job.organizationname %><br>
                    <b>สถานที่ปฏิบัติงาน: </b><%= job.address %><br>
                    <b>อัตราค่าจ้าง: </b><%= job.wage %><br>
                    <b>ความพิการที่เปิดรับ: </b>
                      <ul>
                      <% job.disabilities.each do |disability| %>
                        <li><%= disability.name %></li>
                      <% end %>
                      </ul>
                    <b>การศึกษา: </b><%= job.education %><br>
                  </div>
                </div>
                <hr>
              </li>
              <% end %>
            </ul>
            
            <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
          </div>
        </div>

        <div class="col-md-4">
          <div class="short-information" style="background: #40A1E4; color: #fff">
            <p>ประกาศรับสมัครงานจากบริษัทต่างๆ ที่ลงทะเบียนกับทางเว็บไซต์</p>
          </div>
        </div>

      </div>


<!--
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Sex ids</th>
      <th>Disability ids</th>
      <th>Welfare ids</th>
      <th>Organizationname</th>
      <th>Branch</th>
      <th>Address</th>
      <th>Province</th>
      <th>Education</th>
      <th>Age</th>
      <th>Position</th>
      <th>Info</th>
      <th>Jobtype</th>
      <th>Wage</th>
      <th>Document</th>
      <th>Apply</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.user_id %></td>
        <td><%= job.sex_ids %></td>
        <td><%= job.disability_ids %></td>
        <td><%= job.welfare_ids %></td>
        <td><%= job.organizationname %></td>
        <td><%= job.branch %></td>
        <td><%= job.address %></td>
        <td><%= job.province_id %></td>
        <td><%= job.education %></td>
        <td><%= job.age %></td>
        <td><%= job.position %></td>
        <td><%= job.info %></td>
        <td><%= job.jobtype_id %></td>
        <td><%= job.wage %></td>
        <td><%= job.document %></td>
        <td><%= job.apply %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
-->