<div class="row">
  <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2 col-md-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">เปลี่ยนรหัสผ่าน</h1>
      </div>
      <div class="panel-body">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "รหัสผ่านใหม่", class: "col-md-4" %>
          <div class="col-md-6">
            <%= f.password_field :password, autocomplete: "off", class: "form-control required", placeholder: "รหัสผ่าน" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "ยืนยันรหัสผ่านใหม่", class: "col-md-4" %>
          <div class="col-md-6">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control required", placeholder: "ยืนยันรหัสผ่าน" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            <%= f.submit "ยืนยัน", class: "btn btn-primary" %>
            </div>
        </div>
        
      <% end %>

      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
