<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">ข้อมูลบริษัท</h1>
      </div>
      <div class="panel-body">

      <%= form_for(@company, html: {class: "form-horizontal"}) do |f| %>
        <% if @company.errors.any? %>
          <div class="alert alert-warning">
            <h2><%= pluralize(@company.errors.count, "error") %> ไม่สามารถบันทึกการแก้ไขนี้ได้:</h2>

            <ul>
            <% @company.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <!--
        <div class="field">
          <%= f.label :user_id %><br>
          <%= f.number_field :user_id %>
        </div>
        -->

        <div class="form-group">
          <%= f.label :name, "ชื่อบริษัท", class: "col-md-4" %><span style="color:red">*</span>
          <div class="col-md-6">
            <%= f.text_field :name, class: "form-control", placeholder: "ชื่อบริษัท" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :branch, "สาขา", class: "col-md-4" %>
          <div class="col-md-6">
            <%= f.text_field :branch, class: "form-control", placeholder: "สาขา" %>
          </div>
        </div>

          <div class="form-group">
            <label for="" class="col-md-4">ที่อยู่</label>
            <div class="col-md-6">
              <%# <%= f.text_area :address, rows: 5, class: "form-control", placeholder: "ที่อยู่" %1> %>
                <div class="col-md-12 form-group">
                  <%= f.text_field :address_village, class: "form-control", placeholder: "หมู่บ้าน" %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.text_field :address_village_no, class: "form-control", placeholder: "หมู่ที่" %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.text_field :address_soi, class: "form-control", placeholder: "ตรอก/ซอย" %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.text_field :address_road, class: "form-control", placeholder: "ถนน" %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.text_field :address_postal_code, class: "form-control", placeholder: "รหัสไปรษณีย์" %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.select :province_id, options_from_collection_for_select(Province.all, :id, :name, @company.province_id), {}, { select: f.object.province_id, class: "form-control" } %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.text_field :address_amphur, class: "form-control", placeholder: "อำเภอ" %>
                </div>
                <div class="col-md-12 form-group">
                  <%= f.text_field :address_tambon, class: "form-control", placeholder: "ตำบล" %>
                </div>
            </div>
          </div>

        <div class="form-group">
          <%= f.label :address, "รายละเอียดบริษัท", class: "col-md-4" %><span style="color:red">*</span>
          <div class="col-md-6">
            <%= f.text_area :address, rows: 5, class: "form-control", placeholder: "รายละเอียดบริษัท" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :phone, "โทรศัพท์", class: "col-md-4" %><span style="color:red">*</span>
          <div class="col-md-6">
            <%= f.text_field :phone, class: "form-control", placeholder: "โทรศัพท์" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6 col-md-offset-4">
            <!-- <%= f.submit "บันทึกข้อมูลบริษัท", class: "btn btn-primary" %> -->
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <span class="glyphicon glyphicon-edit"></span> บันทึกข้อมูลบริษัท
            <% end %>
          </div>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>