<div class="row">
<div class="col-md-12">
	<ol class="breadcrumb">
		<li><%= link_to "หน้าแรก", root_path %></li>
		<li class="active">แฟ้มประวัติผู้สมัครงาน</li>
	</ol>
</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-left">
		<div class="page-header">
			<h1>แฟ้มประวัติผู้สมัครงาน</h1>
		</div>
		<div>
			<ul class="list-card">
				<% @resumes.each do |resume| %>
					<li class="card">
						<div class="card-content">
							<h3 class="card-header">
								<%= link_to "คุณ#{resume.fname} #{resume.lname}", resume %>
							</h3>
							<div class="card-body">
								<b>อายุ: </b><%= (Date.today.year - resume.birthdate.year).to_s %> ปี<br>
								<b>ที่อยู่: </b><%= resume.address %><br>
								<b>ความพิการ: </b>
								<ul>
									<% resume.disabilities.each do |disability| %>
										<li><%= disability.name %></li>
									<% end %>
								</ul>
								<b>การศึกษา: </b><%= resume.education %><br>
							</div>
						</div>
						<hr>
					</li>
				<% end %>
			</ul>
			<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>

		</div>
	</div>
	<div class="col-md-4 col-md-right">
	</div>
</div>
</div>

<!--
	<%= link_to 'New Resume', new_resume_path %>
-->